body {
    font-family: Arial, Helvetica, sans-serif;
}

#first {
    color: blue;
}
.second {
    color: green;
}

.bigger {
    font-size: 24pt;
}

main .bigger {
    font-family: Jokerman;
}
.highlight {
    color: #1e90ff; 
}

.deemphasize {
    color: #999999; 
}