header {
    background-color: lightblue;
    text-align: center;
    margin-top: 50px;
    margin-right:auto;
    margin-left:auto;
    border: 5px solid rgb(171, 117, 117);   
    margin-bottom: 50px;
}

#wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

figure {
    border: thin solid black;
    /* width: 200px; */
}

img {
    margin: 0px;
    padding: 0px;
}

body{
background-image: url(Flowers.jpg); 
background-repeat: repeat;
border: 30px solid rgb(173, 115, 115);
}

#lovephoto{
    margin: 0px;
    padding: 0px;
}

Nav a {
    color: green;
    border: 3px solid rgb(187, 106, 1);
    background-color: rgb(255, 219, 127);
}
.current {
    color: gray;
}

.set{
    border: black solid thin;
}