body {
    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    margin: 0;
    background-color: rgb(236, 207, 109);
}

.container{
    display: flex;
    padding: 10px;
    flex:wrap;
}

.sidebar {
    box-shadow: 10px 10px 10px #ccc;
    width: 25%;
    padding: 10px;
}

.sidebar img {
    width: 100%;
}
.sidebar figure {
    text-align: center;
}

.title {
    font-weight:700;
    margin: auto;
}

.maincontent img {
    width: 100%;
}
.maincontent{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 200px;
    border: thin solid #000;
    box-shadow: 3px 3px 3px #000;
    margin: 5px;
    

}

nav {
    background-color: antiquewhite;
    display: flex;
    /* display: block; */
    justify-content: space-around;

}


@media screen and (max-width: 700px) {
    header{
        display: none;
    }

    footer{
        display: none;
    }
    
    nav{
        display: none;
    }

    nav {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        order: 2;
    }

    .maincontent {
        width: 100%;
    }

    .main-card {
        width: 100%;
    }
}

    

    


