body{
    font-family: Arial, Helvetica, sans-serif;

header{
    padding: 3px;
    
}

figure h3{
    margin: 5px;
}

}
.background{
    background-color:rgb(114, 172, 230);
    text-align: center;
}

nav a{
    text-decoration: none;
    display: block;
    padding: 6px 12px;
    border-radius: 10px;
    background-color:rgb(85, 201, 201);
    color: black;

}

nav{
    background-color:rgb(136, 43, 43);
    display: flex;
    padding: 5px;
    justify-content: space-around;
    
}


.container{
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: nowrap;
}


.text{
    width: 30%;
    margin: 3px;
    padding: 3px;

}

.fixImage{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    padding: 10px;
    gap: 10px;
}



figure figcaption{
    font-size: small;
}


.photo{
   border: black solid thin;
   background-color: azure;
}


figure{
    padding: 2px;
    margin: 2px;
}
footer a{
    display: block;
}
footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}


footer a {
    text-decoration: none;
    color: white;
    background-color: rgb(70, 90, 110);
    padding: 10px;
    display: block;
}
