
body {
    font-family: "Arial", sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #302d2d;
}


.container {
    width: 900px;
    margin: 0 auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

header {
    background: url('header-bg.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

header h1 {
    font-family: "Georgia", serif;
    font-size: 2;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    color: white;
    font-size: 1px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

main h2 {
    font-size: 1;
    color: #444;
    text-transform: capitalize;
}

main p {
    margin: 20px;
    text-align: justify;
    font-style: italic;
}

figure {
    float: left;
    margin: 10px 20px 10px 0;
    width: 40%;
}

figure img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

figure figcaption {
    font-size: 0.9em;
    text-align: center;
    color: #555;
}

footer {
    font-size: 1;
    background-origin: content-box;
    background-clip: padding-box;
    background: url('footer-bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 10px;
    text-align: center;
    color: white;

}

header, main, footer {
    margin: 10px;
    padding: 10px;
    border: 2px solid #fafafa;
    border-radius: 10px;
}

@media (max-width: 700) {
    .container {
        width: 100%;
    }

    figure {
        float: none;
        width: 100%;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}
